<div class="tabs">
  <a class="tab" routerLinkActive="tab_active" routerLink="activities">Деятельность</a>
  <a class="tab" routerLinkActive="tab_active" routerLink="collective">Работа с коллективом</a>
  <a class="tab" routerLinkActive="tab_active" routerLink="education">Воспитательная работа</a>
  <a class="tab" routerLinkActive="tab_active" routerLink="parents">работа с родителями</a>
  <a class="tab" routerLinkActive="tab_active" routerLink="personal">Личная информация</a>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
