<table class="table table-bordered table-condensed">
  <thead>
  <tr>
    <td>№</td>
    <td>Название курса</td>
    <td>Количество часов</td>
    <td>Действие</td>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngIf="courses">
    <tr *ngFor="let course of courses; let i=index">
      <td>{{i+1}}</td>
      <td
        contenteditable
        [textContent]="course.name"
        (input)="course.name=$event.target.textContent;markAsUpdated(course.id ? course.id : i)"
      >
        {{course.name}}
      </td>
      <td
        contenteditable
        [textContent]="course.hours"
        (input)="course.hours=$event.target.textContent;markAsUpdated(course.id ? course.id : i)"
      >
        {{course.hours}}
      </td>
      <td><i class="material-icons" (click)="deleteRow(course.id, i)">delete</i></td>

    </tr>
  </ng-container>
  </tbody>
</table>
<button type="button" class="btn btn-primary" (click)="goBack()">Назад</button>
<button type="button" class="btn btn-primary" (click)="addRow()">Добавить</button>
<button type="button" class="btn btn-primary" (click)="save()">Сохранить</button>
