<h3 class="text-center">Проблемные семьи</h3>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
    <tr>
      <td>ФИО студента</td>
      <td>ФИО родителей / опекунов</td>
      <td>Тип воспитания в семье</td>
      <td>Основная проблема</td>
      <td>Адрес</td>
      <td>Телефон родителей</td>
      <td>Место работы родителей</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.last_name}} {{user.first_name}} {{user.patronymic}}</td>
      <td>{{user.family?.p_name}}</td>
      <td>{{user.family?.edu_type}}</td>
      <td>{{user.family?.trouble}}</td>
      <td>{{user.family?.p_address}}</td>
      <td>{{user.family?.p_phone}}</td>
      <td>{{user.family?.p_employment}}</td>
    </tr>
    </tbody>
  </table>
</div>
