<h3 class="text-center">Внеклассное мероприятие</h3>
<p>
  <strong>Тема:</strong> {{protocol.theme}}
</p>
<p>
  <strong>Цели:</strong> {{protocol.purposes}}
</p>
<p>
  <strong>Форма проведения:</strong> {{protocol.form}}
</p>
<p>
  <strong>Дата проведения:</strong> {{protocol.date | date:'d MMMM y'}}
</p>
<p>
  <strong>План проведения:</strong> {{protocol.plan}}
</p>
<p>
  <strong>Организация:</strong> {{protocol.organization}}
</p>
<p>
  <strong>Анализ проведенного мероприятия:</strong> {{protocol.analysis}}
</p>
<p>
  <strong>Выводы:</strong> {{protocol.conclusions}}
</p>
