<h3>Внеурочная занятость студентов</h3>
<table class="table table-bordered table-condensed">
  <thead>
  <tr>
    <td>ФИО</td>
    <td>Дополнительные курсы</td>
    <td>Дни</td>
    <td>Поручения в группе</td>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngIf="items">
    <tr *ngFor="let item of items; let i=index">
      <td>
        {{item.last_name}} {{item.first_name}} {{item.patronymic}}
      </td>
      <td>
        {{item.outEmployments?.out_courses?.value}}
      </td>
      <td>
        {{item.outEmployments?.out_days?.value}}
      </td>
      <td>
        {{item.outEmployments?.charge?.value}}
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>
<button type="button" class="btn btn-primary" (click)="goBack()">Назад</button>
