<div class="tabs">
  <a routerLinkActive="tab_active" [routerLinkActiveOptions]="{exact: true}" routerLink="./" class="tab">Общие сведения</a>
  <a routerLinkActive="tab_active" routerLink="parents" class="tab">Родители</a>
  <a routerLinkActive="tab_active" routerLink="activities" class="tab">Деятельность</a>
  <a routerLinkActive="tab_active" routerLink="out-activities" class="tab">Внеклассная деятельность</a>
  <a routerLinkActive="tab_active" routerLink="health" class="tab">Здоровье</a>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
