<table class="table table-bordered table-condensed">
  <thead>
  <tr>
    <td>Дата</td>
    <td>Мероприятие</td>
    <td>Результат</td>
    <td>ФИО</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngIf="items">
    <tr *ngFor="let item of items; let i=index">
      <td
        contenteditable
        [textContent]="item.date"
        (input)="item.date=$event.target.textContent;markAsUpdated(item.id ? item.id : i)"
      >

      </td>
      <td
        contenteditable
        [textContent]="item.name"
        (input)="item.name=$event.target.textContent;markAsUpdated(item.id ? item.id : i)"
      >

      </td>
      <td
        contenteditable
        [textContent]="item.result"
        (input)="item.result=$event.target.textContent;markAsUpdated(item.id ? item.id : i)"
      >
      </td>
      <td
        contenteditable
        [textContent]="item.fio"
        (input)="item.fio=$event.target.textContent;markAsUpdated(item.id ? item.id : i)"
      >
      </td>
      <td><i class="material-icons" (click)="deleteRow(item.id, i)">delete</i></td>

    </tr>
  </ng-container>
  </tbody>
</table>
<button type="button" class="btn btn-primary" (click)="goBack()">Назад</button>
<button type="button" class="btn btn-primary" (click)="addRow()">Добавить</button>
<button type="button" class="btn btn-primary" (click)="save()">Сохранить</button>
