<table class="table table-bordered table-condensed">
  <thead>
  <tr>
    <td>№</td>
    <td>Название олимпиады</td>
    <td>Место и время проведения</td>
    <td>Результат</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngIf="olympiads">
    <tr *ngFor="let course of olympiads; let i=index">
      <td>{{i+1}}</td>
      <td
        contenteditable
        [textContent]="course.name"
        (input)="course.name=$event.target.textContent;markAsUpdated(course.id ? course.id : i)"
      >
        {{course.name}}
      </td>
      <td
        contenteditable
        [textContent]="course.date"
        (input)="course.date=$event.target.textContent;markAsUpdated(course.id ? course.id : i)"
      >
        {{course.date}}
      </td>
      <td
        contenteditable
        [textContent]="course.result"
        (input)="course.result=$event.target.textContent;markAsUpdated(course.id ? course.id : i)"
      >
        {{course.result}}
      </td>
      <td><i class="material-icons" (click)="deleteRow(course.id, i)">delete</i></td>

    </tr>
  </ng-container>
  </tbody>
</table>
<button type="button" class="btn btn-primary" (click)="goBack()">Назад</button>
<button type="button" class="btn btn-primary" (click)="addRow()">Добавить</button>
<button type="button" class="btn btn-primary" (click)="save()">Сохранить</button>
