<h2>Разделы</h2>
<ol>
  <li><a routerLink="../grades">Оценки</a></li>
  <li><a routerLink="../works">Работы</a></li>
  <li><a routerLink="../courses">Дистанционные курсы</a></li>
  <li><a routerLink="../programs">Доплнительные программы</a></li>
  <li><a routerLink="../olympiads">Участие в олимпиадах</a></li>
  <li><a routerLink="../conferences">Участие в конференциях</a></li>
  <li><a routerLink="../sports">Спортивные достижения</a></li>
  <li><a routerLink="../creativity">Творческие достижения</a></li>
</ol>
