<div>
  <h3 class="event__title">{{event.title}}</h3>
  <a [routerLink]="['edit-event', event.id]"><i class="material-icons" >edit</i></a>
  <i (click)="remove(event)" class="material-icons">delete</i>
</div>
<span class="event__type" [style.backgroundColor]="event.type.color">{{event.type.name}}</span>
<span class="event_reported" *ngIf="event.reported">В отчёте</span>
<div class="event__time">{{event.timestamp * 1000 | date:shortTime}}</div>
<div class="event__description">{{event.description ? event.description : 'Нет описания'}}</div>
