/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

main {
  padding: 3rem;
}

/*
  Common
 */

/*
  1. Lists
 */
.c-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

}

.c-list__item {
  display: block;
  padding: .5rem;
  margin: .5rem;
}

/*
  Behavioral
 */

.c-no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/*
  Icons
 */

.material-icons {
  cursor: pointer;

}

@media screen and (max-width: 990px) {
  main {
    padding: 2rem;
  }
}

@media screen and (max-width: 560px) {
  main {
    padding: 1rem;
  }
}
