<h3>Основные сведения о студентах</h3>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th rowspan="2">№</th>
      <th rowspan="2">ФИО учащегося</th>
      <th rowspan="2">Дата рождения</th>
      <th rowspan="2">Где и кем работают родители,
        № служебного (мобильного) телефона
      </th>
      <th  colspan="2">Домашний адрес</th>
    </tr>
    <tr>
      <th>Студента</th>
      <th>Родителей</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i=index">
        <td>{{i+1}}</td>
        <td>{{user.last_name}} {{user.first_name}} {{user.patronymic}}</td>
        <td>{{user.birth_date * 1000 | date:'M.d.y'}}</td>
        <td>
          {{user.parents?.p_employment?.value}}
          {{user.parents?.p_phone?.value}}
        </td>
        <td>{{user.address}}</td>
        <td>{{user.parents?.p_address?.value}}</td>
      </tr>
    </tbody>
  </table>
</div>
<app-collective-health></app-collective-health>
