<form class="form form_students" [formGroup]="eventForm" (ngSubmit)="onSubmit()" novalidate>

  <div class="form-group">
    <label class="center-block">Название:
      <input class="form-control" formControlName="title" required>
    </label>
  </div>
  <div class="form-group">
    <label>Включить в отчёт:
      <input type="checkbox" class="form-control" formControlName="reported" (change)="clearAdditionalFields()">
    </label>
    <label *ngIf="eventForm.get('reported').value" class="center-block">Тип отчёта:
      <select formControlName="report_type" class="form-control">
        <option value="1">Анализ деятельности</option>
        <option value="2">Дневник</option>
      </select>
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Тип:
      <select class="form-control" formControlName="type_id" required>
        <option *ngFor="let eventType of eventTypes" [value]="eventType.id">{{eventType.name}}</option>
      </select>
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Время:
      <input type="time" class="form-control" formControlName="timestamp" required>
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Описание:</label>
    <textarea formControlName="description" cols="30" rows="10"></textarea>
  </div>
  <ng-container *ngIf="eventForm.get('reported').value && eventForm.get('report_type').value==1">
    <div class="form-group">
      <label class="center-block">Форма проведения:
        <input class="form-control" formControlName="form" required>
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Ответственый:
        <input class="form-control" formControlName="responsible" required>
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Результативность:
        <input class="form-control" formControlName="results" required>
      </label>
    </div>
  </ng-container>
  <div style="margin-bottom: 1em">
    <button type="submit"
            [disabled]="!eventForm.valid" class="btn btn-success">Save</button> &nbsp;
    <button type="reset" (click)="revert()"
            [disabled]="eventForm.pristine" class="btn btn-danger">Revert</button>
  </div>
</form>

